#jftw-chat-btn{

position:fixed;
bottom:20px;
 right:5px !important;

width:65px;
height:65px;

border-radius:50%;

background:#ff9800;

color:white;

display:flex;
justify-content:center;
align-items:center;

font-size:30px;

cursor:pointer;

box-shadow:
0 8px 20px rgba(0,0,0,.25);

z-index:999999;

}

.chat-header{
    background-color: #111;
    color: #f3f3f3;
    margin-top: auto;
    justify-content: flex-start;
    font-size: medium;
    font-weight: 100;
    text-shadow: #ff9800;
}
#jftw-input{
    margin-left: 4px;
    margin-bottom: 10px;
    max-width: fit-content;
    width: auto;

}
#jftw-chat-window{

position:fixed;
right:20px;
bottom:90px;

width:430px;      /* increased width */
height:420px;     /* reduced height */

background:#fff;

border-radius:15px;

display:none;
flex-direction:column;

box-shadow:
0 10px 25px rgba(0,0,0,.25);

z-index:99999;

}
#jftw-messages{

flex:1;

padding:12px;

overflow-y:auto;

background:#fafafa;

}

.user-msg{

text-align:right;

border-radius:10px;
background:#ffe0b2;
color:#222;      /* darker text */

padding:10px;
margin:8px 0;

border-radius:12px;

font-weight:500;

text-align:right;

}

.bot-msg{

padding:10px;

background:#f3f3f3;
color:#111;      /* darker text */

margin:8px 0;

border-radius:12px;

font-weight:500;

line-height:1.5;

}
.chat-payment-link{

display:inline-block;

margin-top:8px;

padding:10px 16px;

background:#ff9800;

color:#fff !important;

font-weight:600;

text-decoration:none;

border-radius:8px;

box-shadow:
0 3px 10px rgba(255,152,0,.35);

transition:.3s;

}

.chat-payment-link:hover{

background:#ffb300;

transform:translateY(-2px);

}

@media(max-width:768px){

#jftw-chat-window{

width:95vw;

max-width:420px;

height:420px;

right:10px;

bottom:80px;

}

}

.search-highlight{

border:3px solid #ff9800 !important;

box-shadow:
0 0 20px #ff9800 !important;

animation:searchBlink 1s infinite;

}

@keyframes searchBlink{

0%{
transform:scale(1);
}

50%{
transform:scale(1.05);
}

100%{
transform:scale(1);
}


}

#jftw-chat-btn{
position:fixed !important;
bottom:20px !important;
right:20px !important;

z-index:9999999 !important;
pointer-events:auto !important;
}

#jftw-chat-window{
z-index:9999999 !important;
}